<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.supercoding.dvdRental.mapper.ActorMapper">
    <select id="selectActor" resultType="ActorVO">
        SELECT first_name AS FIRSTNAME, last_name AS LASTNAME
        FROM public.actor
        WHERE actor_id = 1;
    </select>
</mapper>